*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	width: 100%;
	color: #F9FAF9;
}

header {
	background-color: #0A1726;
}

header h1 {
	color: #FA746F;
	font-family: 'Comfortaa', cursive;
	font-size: 2em;
	padding: 10px 0 10px 15px ;
}

form {
  color: #FA746F;
  background-color: #0D1D32;  
}


.intro-message {
	background-color: #0B1829;
}

.city-result {
	background-color: #253853;
}

.js-current-weather-result, 
.js-weather-results,
.city-result {
	background-color: #0B1829;
}
.js-events-results {
	background-color: #F87060;
}


.js-weather-results {
	display: block;
}

.container {
	margin: 0 auto;
	
}






.column-full {
	width: 100%;
}

.column-two-thirds {
	width: 66.7%; 
}

.column-half {
	width: 50%; 
}

.column-third {
	width: 33.3%; 
}

.column-fourth {
	width: 25%; 
}

/*
#102542 - Yankees Blue
#253853 - Japanese INdigo 
#384A62 - Charcoal
#F87060 - Bittersweet
#F9FAF9 - Snow (for text) 
*/